body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Georgia, serif;
  background-color: aliceblue;
}

header {
  border: 0;
margin: 0;
padding: 0;
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
}

header h1 {
  border: 0;
  margin: 0;
  border: 2px ;
  border-radius: 5px;
  
  padding: 1.25rem;
  
}

header h1 a {
  color: aliceblue;
  padding-right: 10px;
  margin-top: 5rem;
  
}

header h1 a:hover {
  color: rgb(71, 147, 214);
  
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: rgb(71, 147, 214);
  text-decoration: none;
}

.title span a{
  color: darkblue;
  font-size: medium;
  font-weight: bold;
}

button {
  background-color: darkblue;
  border: 0;
  color: aliceblue;
  font-family: Georgia, serif;
  font-size: 18px;
}

button:hover {
  
  color: rgb(71, 147, 214);
}

span {
  color: rgb(70, 67, 67);
}

main {
  margin:2% 5%;
  
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

div {
  width: 100%;
  display: block;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

nav {
  padding: 1.8rem;
  text-align: right;

}

nav a {
  margin: 1rem;
  font-size: large;
}

main a {
  color: darkblue;
}

